html , body  {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#root{
  height: 100%;
  
}

/* CSS APP CONTAINER LAYOUT*/
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* CSS NAVBAR */
.navBar{
  background-color: #DBAAA7 ;
  display: flex; 
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 20px;
  gap: 5px;
  z-index: 10;
  
}

.nav-right{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 15px;
 
}


.navLogo {
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 160px;
  color: rgb(6, 6, 6);
  font-size: 20px;
  font-weight: 900;
  height: 40px;
  padding: 0 12px;
  text-decoration: none;


}

.nav-right .nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;   
  height: 40px;
  padding: 0 12px;
}

.nav{
  min-width: 100px;
  max-width: 160px;
  color: rgb(6, 6, 6);
  text-decoration: none;
  
}

.nav:hover {
  color: #050505;
  height: 40px;
  font-weight: bold;
 
   
}

/* CSS FOOTER */

.footer {
  background-color: #DBAAA7;
  text-align: center;
  padding:15px;
  margin-top: auto;
 
}

.direccion {
  font-size: 12px;
  margin-top: 5px;
  
}

/*CSS HEADER*/

.slogan h1 { margin: 0; }

.header {
  background-image: url("./assets/imgs/header.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;


}

.slogan{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;            
  max-width: 900px;  
  height: 70%;    
  min-height: 80px;
  color: rgb(9, 9, 9);
  text-align: center;
  font-size: 36px;
  font-family: "Archivo Black", sans-serif;
  background-color: #09090936;
  border-radius: 10px;
 
}

.categoria-slogan{
  display: flex;
  flex-direction: column;
 
}

.categorias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0 15px;
}

.opcion-categoria {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 0 12px;
  color: rgb(6, 6, 6);
}

.opcion-categoria:hover {
  color: #050505;
  font-weight: bold;
   
}

/*CSS CARDS GRID*/ 

.product-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 1320px;
  padding: 0 16px;

}


.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 400px;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.card-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  display: block;


}

.card-nombre {
  font-size: 16px;
  height: 30px;
  margin-top: 6px ;

}

.card-descripcion {
  font-size: 14px;
  height: 30px;

}

.card-precio {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;}

.btn-primary{
  background-color: #A8DCAB;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px 12px;
  border-radius: 25px;

}

.btn-primary:hover{
  background-color: #7CC47C;
  color:black;
  transition: 0.3s;

}

/* CSS PAGO PAGE */

.container-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.pago-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 870px ;
  height: 370px;
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.pago-page h3 {
  font-family: "Archivo Black", sans-serif;
  padding: 12px;

}

.pago-page p {
  font-family: 18px Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 12px;
}

.auth-links {
  display: flex;         
  gap: 20px;              
  align-items: center;
}

.login-btn {

  background-color: #A8DCAB;
  padding: 8px 50px;
  border-radius: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.login-btn:hover {
  background-color: #7CC47C;
  color:black;
  transition: 0.3s;

}

.register-btn {
  background-color: #DBAAA7;
  padding: 8px 50px;
  border-radius: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.register-btn:hover {
  background-color: #D17A77;
  color:black;
  transition: 0.3s;

}

 /* CSS CONFIRMACION PAGE */
 
.incio-btn {
  background-color: #7CC47C;
  padding: 8px 50px;
  border-radius: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.incio-btn:hover {
  background-color: #7CC47C;
  color:black;
  transition: 0.3s;

}